body {
    font-family: "Montserrat", sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
}

h1 {
    color: #36AAF5;
    line-height: 3;
    font-size: 25px;
    text-transform: uppercase;
}

p {
    color: #555;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 15px;
    justify-content: center;
    margin: 20px 0;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #6FA058;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
    transform: rotateY(0deg);
    transition: transform 0.4s;
}

.card.flipped {
    background-color: #fff;
    color: #333;
    transform: rotateY(180deg);
}

.message {
    margin-top: 15px;
    font-size: 1.2em;
    color: #333;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    color: #000;
    border-radius: 4px;
    background-color: #CA824E;
    
}

button:hover {
    background-color: #75545A;
}
