.faq-container {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1.2px;
    line-height: 2;
  }
  
  .faq-title {
    margin-bottom: 30px;
    font-size: 1.8rem;
  }
  
  .faq-item {
    margin-bottom: 10px;
    text-align: left;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .faq-question {
    width: 100%;
    background-color: #62A1FA;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    letter-spacing: 1.2px;
  }
  
  .faq-question:hover {
    background-color: #7A5757;
  }
  
  .faq-answer {
    background-color: white;
    color: black;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;
    padding: 0 15px;
  }
  
  .faq-answer p {
    margin: 10px 0;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1.2px;
    line-height: 2;
  }
  