body {
    background-color: #f3e7e7; 
}

.container {
    width: 1000px;
    height: 100%;
    position: relative;
}


/* flex rules starts */

.flex { display: flex;}
.row { flex-direction: row;}
.col { flex-direction: column;}
.align-center { justify-content: center;}
.align-sb { justify-content: space-between;}
.align-se { justify-content: space-evenly;}
.align-fe { justify-content: flex-end;}

/* flex rules ends */


/* nav starts */
nav {
    background-color: #fff;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 2;
}

#logo { cursor: pointer; }

#nav-items {
    width: 70%;
    max-width: 627px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#nav-items li {
    padding: 20px;
    cursor: pointer;
}
/* nav ends */

/* sec starts */
section {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: all 1s ease;
}

section.active {
    opacity: 1;
    z-index: 1;
}

#home { background-color: rgb(174, 197, 255) ;}
#halloween {background-color: rgb(251, 255, 123);}
#christmas {background-color:rgb(255, 154, 107) ;} 
#spd {background-color:rgb(156, 254, 149) ;}
#easter {background-color:rgb(250, 191, 248) ;}

/* sections ends */






